/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# General
# Section title
# Sidebar
# Colors
# Form
# Element
# Header
# Alignment
# Breadcrumbs
# Columns
# Alert
# Fancybox
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
}
h1 {
    font-weight: 400;
    line-height: 1;
    margin-bottom: 24px;
    font-size: 72px;
}
h2 {
    font-size: 36px;
    line-height: 1.15;
    margin-bottom: 24px;
    font-weight: 400;
    letter-spacing: -.02em;
}
h3 {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 20px;
    letter-spacing: -.02em;
    font-weight: 500;
}
p {
    margin-bottom: 30px;
}
.title {
    font-size: 40px;
    margin-top: 6px;
}
a {
    text-decoration: none;
    color: #96588a;
    -webkit-transition: color .35s ease, opacity .35s ease;
            transition: color .35s ease, opacity .35s ease;
}
body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: #3c3c3c;
    background-color: #f8f9fa;
    font-family: 'Rubik', sans-serif;
}
.lead {
    font-size: 20px;
}
.small {
    font-size: 13px;
}
.txt-center {
    text-align: center;
}
.gray-color {
    color: #adb5bd;
}
@media (max-width: 72em) {
    h1 {
        font-size: 65px;
    }
}
@media (max-width: 64em) {
    .tb-txt-center {
        text-align: center;
    }
}
@media (max-width: 42em) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }

    .title {
        font-size: 32px;
    }
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.sr-only {
    height: 1px;
    padding: 0;
    margin: 0;
    width: 1px;
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}
.col-full {
    max-width: 1140px;
    padding-right: 22px;
    padding-left: 22px;
    margin-right: auto;
    margin-left: auto;
}
.site-main {
    display: flex;
    align-items: flex-start;
}
.content-area {
    font-weight: 300;
    flex: 1;
    font-size: 18px;
    line-height: 1.7;
}
.content-area h2:nth-child(n+2) {
    margin-top: 70px;
}
@media (min-width: 46.0635em) {
    .content-area {
        padding: 0 20px;
    }
}
@media (max-width: 46em) {
    .site-main {
        flex-direction: column;
    }
}
/*--------------------------------------------------------------
# Section title
--------------------------------------------------------------*/
.get-link {
    opacity: .2;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(../img/ui-link.svg);
    background-size: contain;
}
.section-heading:hover .get-link {
    opacity: 1;
}
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
    width: 170px;
}
.sidebar nav {
    display: flex;
    flex-direction: column;
}

.sidebar hr {
    margin: 20px 0 30px;
    width: 50px;
}

.sidebar .nav__link {
    color: inherit;
    margin-bottom: 10px;
}

.sidebar .nav__link--current {
    color: #96588a;
}
.sidebar.sticky {
    font-size: 15px;
    position: sticky;
    top: 100px;
}

@media (max-width: 52em) {
    .sidebar {
        display: none;
    }
}
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
.bg-dark {
    background-color: #3c3c3c;
}
.bg-primary a,
.bg-primary,
.bg-dark,
.bg-dark a {
    color: #fff;
}
.bg-primary {
    background-color: #96588a;
}
/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/
.btn {
    display: inline-flex;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn--md {
    padding: 5px 16px;
}
.btn--lg {
    padding: 11px 24px;
}
.btn--success {
    color: #fff;
    background-color: #71b02f;
    border-color: #71b02f;
}
.btn--success:hover {
    background-color: #588b22;
    border-color: #588b22;
}
.btn--success:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(113, 176, 47, 0.5);
            box-shadow: 0 0 0 3px rgba(113, 176, 47, 0.5);
}
.btn--primary {
    color: #fff;
    background-color: #bb87b1;
    border-color: #a5769c;
}
.btn--primary:focus,
.btn--primary:hover {
    color: #96588a;
    background-color: #fff;
    border-color: #fff;
}
/*--------------------------------------------------------------
# Element
--------------------------------------------------------------*/
hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #e9ecef;
}
.bdg {
    color: #fff;
    background-color: #6e6e6e;
    margin: 0 12px 0 4px;
    display: inline-block;
    padding: 3px 5px;
    font-size: 75%;
    line-height: 1;
    border-radius: 4px;
}
.fixed {
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
}
ul.line-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.none-list {
    padding: 0;
    margin: 0;
}
.none-list li {
    list-style: none;
}
.content-area ol,
.content-area ul {
    margin-bottom: 40px;
}
.content-area li {
    margin-bottom: 15px;
}
img {
    display: block;
    max-width: 100%;
}
.pd-t-60 {
    padding-top: 60px;
}
.pd-t-50 {
    padding-top: 50px;
}
.pd-t-10 {
    padding-top: 10px;
}
.pd-b-50 {
    padding-bottom: 50px;
}
.pd-b-33 {
    padding-bottom: 33px;
}
@media (max-width: 64em) {
    .pd-b-tb-20 {
        padding-bottom: 20px;
    }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
    min-height: 64px;
}
.site-header__container {
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}
.site-header__container,
.site-brand {
    display: flex;
    align-items: center;
}
.site-brand img {
    margin-right: 10px;
}
.site-header .nav__link {
    padding: 8px;
    display: inline-flex;
    align-items: center;
}
.nav__link:focus,
.nav__link:hover {
    opacity: .75;
}
@media (max-width: 27.5em) {
   .nav .btn--md {
        padding: 5px;
        font-size: 12px;
        margin: 5px 0;
    }
    .site-header {
        font-size: 14px;
    }
    .nav__link {
        padding: 8px 5px;
    }
}
/*--------------------------------------------------------------
# Alignment
--------------------------------------------------------------*/
.align-center {
    margin: 0 auto;
    justify-content: center;
}
.align-right {
    margin-left: auto;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    font-size: 13px;
}

.breadcrumbs__separator {
    padding: 0 5px;
    font-size: 11px;
}

.breadcrumbs__current {
    opacity: 0.5;
}
/*--------------------------------------------------------------
# Columns
--------------------------------------------------------------*/
.cols {
    display: flex;
    flex-wrap: wrap;
}
.col {
    box-sizing: border-box;
    width: 100%;
}
@media (min-width: 42.0625em) {
    .col--50 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}
@media (max-width: 42em) {
    .cols {
        flex-wrap: wrap;
    }
}
/*--------------------------------------------------------------
# Alert
--------------------------------------------------------------*/
.alert {
    padding: 24px;
    margin-bottom: 40px;
    border-radius: 4px;
    border: 1px solid #e9ecef;
    background-color: #fff;
}
.alert--message {
    background-color: #f0ffe0;
    border-color: #ddffb8;
}
.alert--info {
    background-color: #e8faff;
    border-color: #d1f5ff;
}
.alert--danger {
    background-color: #fff5f5;
    border-color: #fde2e2;
}
/*--------------------------------------------------------------
# Fancybox
--------------------------------------------------------------*/
.fancybox-toolbar {
    opacity: 1;
    visibility: visible;
}
.fancybox-iframe {
    border-radius: 4px;
}
@media (min-width: 64.0625em) {
    .fancybox-content {
        max-height: 720px;
        max-width: 840px;
        border-radius: 4px;
    }
}
@media (max-width: 64em) {
    .fancybox-slide {
        padding: 0;
    }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer .cols {
    padding-top: 25px;
    padding-bottom: 20px;
}
footer p {
    margin-bottom: 5px;
}
@media (max-width: 62em) {
    footer {
        font-size: 14px;
    }
    footer .small {
        font-size: 14px;
    }
}
@media (max-width: 42em) {
    footer .cols {
        text-align: center;
        flex-direction: column-reverse;
    }
    footer img {
        margin: 0 auto 15px;
    }
}