/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Typography
# General
# Section title
# Sidebar
# Colors
# Form
# Element
# Header
# Alignment
# Breadcrumbs
# Columns
# Alert
# Fancybox
# Footer
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root {
    --primary: #96588a;
    --primary-light: #bb87b1;
    --primary-lighter: #a5769c;
    --secondary: #71b02f;
    --secondary-alt: #588b22;
    --background: #f8f9fa;
    --tile: #ffffff;
    --dark: #3c3c3c;
    --light-text: #adb5bd;
    --badge: #6e6e6e;
    --border: #e9ecef;
    --message: #f0ffe0;
    --message-border: #ddffb8;
    --info: #e8faff;
    --info-border: #d1f5ff;
    --danger: #fff5f5;
    --danger-border: #fde2e2;
    --radius: 4px;
    --bold: 500;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
}

h1 {
    font-weight: 400;
    line-height: 1;
    margin-bottom: 24px;
    font-size: 72px;
}

h2 {
    font-size: 36px;
    line-height: 1.15;
    margin-bottom: 24px;
    font-weight: 400;
    letter-spacing: .02em;
}

h3 {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 20px;
    letter-spacing: .02em;
    font-weight: var(--bold);
}

p {
    margin-bottom: 30px;
}

.title {
    font-size: 40px;
    margin-top: 6px;
}

a {
    text-decoration: none;
    color: var(--primary);
    transition: color .35s ease, opacity .35s ease;
}

body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: var(--dark);
    background-color: var(--background);
    font-family: 'Rubik', sans-serif;
}

.lead {
    font-size: 20px;
}

.small {
    font-size: 13px;
}

.txt-center {
    text-align: center;
}

.light-text {
    color: var(--light-text);
}

@media (max-width: 72em) {
    h1 {
        font-size: 65px;
    }
}

@media (max-width: 64em) {
    .tb-txt-center {
        text-align: center;
    }
}

@media (max-width: 42em) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .title {
        font-size: 32px;
    }
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.sr-only {
    height: 1px;
    padding: 0;
    margin: 0;
    width: 1px;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

.col-full {
    max-width: 1140px;
    padding-right: 22px;
    padding-left: 22px;
    margin-right: auto;
    margin-left: auto;
}

.site-main {
    display: flex;
    align-items: flex-start;
}

.content-area {
    font-weight: 300;
    flex: 1;
    font-size: 18px;
    line-height: 1.7;
}

.content-area h2:nth-child(n+2) {
    margin-top: 70px;
}

@media (min-width: 46.0635em) {
    .content-area {
        padding: 0 20px;
    }
}

@media (max-width: 46em) {
    .site-main {
        flex-direction: column;
    }
}
/*--------------------------------------------------------------
# Section title
--------------------------------------------------------------*/
.get-link {
    opacity: .2;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(../img/ui-link.svg);
    background-size: contain;
}

.section-heading:hover .get-link {
    opacity: 1;
}
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
    width: 170px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
}

.sidebar hr {
    margin: 20px 0 30px;
    width: 50px;
}

.sidebar .nav__link {
    color: inherit;
    margin-bottom: 10px;
}

.sidebar .nav__link--current {
    color: var(--primary);
}

.sidebar.sticky {
    font-size: 15px;
    position: sticky;
    top: 100px;
}

@media (max-width: 52em) {
    .sidebar {
        display: none;
    }
}
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
.bg-dark {
    background-color: var(--dark);
}

.bg-primary a,
.bg-primary,
.bg-dark,
.bg-dark a {
    color: var(--tile);
}

.bg-primary {
    background-color: var(--primary);
}
/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/
.btn {
    display: inline-flex;
    font-weight: var(--bold);
    border-radius: var(--radius);
    border: 1px solid;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn--md {
    padding: 5px 16px;
}

.btn--lg {
    padding: 11px 24px;
}

.btn--success {
    color: var(--tile);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn--success:hover {
    background-color: var(--secondary-alt);
    border-color: var(--secondary-alt);
}

.btn--success:focus {
    box-shadow: 0 0 0 3px rgba(113, 176, 47, 0.5);
}

.btn--primary {
    color: var(--tile);
    background-color: var(--primary-light);
    border-color: var(--primary-lighter);
}

.btn--primary:focus,
.btn--primary:hover {
    color: var(--primary);
    background-color: var(--tile);
    border-color: var(--tile);
}
/*--------------------------------------------------------------
# Element
--------------------------------------------------------------*/
hr {
    margin: 0;
    border: 0;
    border-top: 1px solid var(--border);
}

.bdg {
    color: var(--tile);
    background-color: var(--badge);
    margin: 0 12px 0 4px;
    display: inline-block;
    padding: 3px 5px;
    font-size: 75%;
    line-height: 1;
    border-radius: var(--radius);
}

.fixed {
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
}

ul.line-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.none-list {
    padding: 0;
    margin: 0;
}

.none-list li {
    list-style: none;
}

.content-area ol,
.content-area ul {
    margin-bottom: 40px;
}

.content-area li {
    margin-bottom: 15px;
}

img {
    line-height: 1;
    max-width: 100%;
}

.pd-t-60 {
    padding-top: 60px;
}

.pd-t-50 {
    padding-top: 50px;
}

.pd-b-50 {
    padding-bottom: 50px;
}

.pd-b-20 {
    padding-bottom: 20px;
}

.pd-b-33 {
    padding-bottom: 33px;
}

@media (max-width: 64em) {
    .pd-b-tb-20 {
        padding-bottom: 20px;
    }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
    min-height: 64px;
}

.site-header__container {
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}

.site-header__container,
.site-brand {
    display: flex;
    align-items: center;
}

.site-brand img {
    margin-right: 10px;
}

.site-header .nav__link {
    padding: 8px;
    display: inline-flex;
    align-items: center;
}

.nav__link:focus,
.nav__link:hover {
    opacity: .75;
}

@media (max-width: 34.5em) {
    .hide-on-mobile {
        display: none;
    }
}
/*--------------------------------------------------------------
# Alignment
--------------------------------------------------------------*/
.align-center {
    margin: 0 auto;
    justify-content: center;
}

.align-right {
    margin-left: auto;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    font-size: 13px;
    padding-top: 10px;
}

.breadcrumbs__separator {
    padding: 0 5px;
    font-size: 11px;
}

.breadcrumbs__current {
    opacity: 0.5;
}
/*--------------------------------------------------------------
# Columns
--------------------------------------------------------------*/
.cols {
    display: flex;
    flex-wrap: wrap;
}

.col {
    box-sizing: border-box;
    flex: 1;
}

@media (min-width: 42.0625em) {
    .col--50 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

@media (max-width: 42em) {
    .cols {
        flex-direction: column;
    }
}
/*--------------------------------------------------------------
# Alert
--------------------------------------------------------------*/
.alert {
    padding: 24px;
    margin-bottom: 40px;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    background-color: var(--tile);
}

.alert--message {
    background-color: var(--message);
    border-color: var(--message-border);
}

.alert--info {
    background-color: var(--info);
    border-color: var(--info-border);
}

.alert--danger {
    background-color: var(--danger);
    border-color: var(--danger-border);
}
/*--------------------------------------------------------------
# Fancybox
--------------------------------------------------------------*/
.fancybox-toolbar {
    opacity: 1;
    visibility: visible;
}

.fancybox-iframe {
    border-radius: var(--radius);
}

@media (min-width: 64.0625em) {
    .fancybox-content {
        max-height: 720px;
        max-width: 840px;
        border-radius: var(--radius);
    }
}

@media (max-width: 64em) {
    .fancybox-slide {
        padding: 0;
    }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer .cols {
    padding-top: 25px;
    gap: 12px;
}

footer p {
    margin-bottom: 5px;
}

@media (max-width: 62em) {
    footer .small,
    footer {
        font-size: 14px;
    }
}

@media (max-width: 42em) {
    footer .cols {
        text-align: center;
        flex-direction: column-reverse;
    }
}