/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# General
# Colors
# Form
# Element
# Header
# Alignment
# Columns
# logos
# card
# review
# Carouserl
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
}
h1 {
    font-weight: 400;
    line-height: 1;
    margin-bottom: 24px;
    color: #333;
    font-size: 72px;
}
.h2,
h2 {
    font-size: 56px;
    line-height: 1.15;
    margin-bottom: 24px;
    font-weight: 400;
    letter-spacing: -.02em;
}
h3 {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 20px;
    letter-spacing: -.02em;
    font-weight: 500;
}
.title {
    font-size: 40px;
    margin-top: 6px;
}
a {
    text-decoration: none;
    color: #96588a;
    -webkit-transition: color .35s ease;
            transition: color .35s ease;
}
body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: #3c3c3c;
    background-color: #f8f9fa;
    font-family: 'Rubik', sans-serif;
}
h4,
.lg-txt {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 48px;
    font-weight: 500;
}
small {
    font-size: 14px;
    margin-bottom: 24px;
    letter-spacing: 1px;
    display: block;
}
h5 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 12px;
    font-weight: 500;
}
.lead {
    font-size: 20px;
}
p.bold + p {
    font-size: 14px;
}
.small {
    font-size: 13px;
}
#item-price {
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.larger,
#item-price span {
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: -.02em;
}
.txt-center {
    text-align: center;
}
.gray-color {
    color: #adb5bd;
}
.purple-color {
    color: #96588a;
}
.bold {
    font-weight: 500;
}
.italic {
    font-style: italic;
}
@media (max-width: 72em) {
    h1 {
        font-size: 65px;
    }
}
@media (max-width: 64em) {
    .tb-txt-center {
        text-align: center;
    }
    h4,
    .lg-txt {
        margin-bottom: 30px;
    }
}
@media (max-width: 42em) {
    h1 {
        font-size: 55px;
    }
    .h2,
    h2 {
        margin-bottom: 18px;
        font-size: 40px;
    }
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.sr-only {
    height: 1px;
    padding: 0;
    margin: 0;
    width: 1px;
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}
.col-full {
    max-width: 1140px;
    padding-right: 22px;
    padding-left: 22px;
    margin-right: auto;
    margin-left: auto;
}
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
.bg-dark {
    background-color: #3c3c3c;
}
.bg-dark,
.bg-dark a {
    color: #fff;
}
.bg-white {
    background-color: #fff;
}
/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/
.btn {
    display: inline-flex;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn--md {
    padding: 5px 16px;
}
.btn--lg {
    padding: 11px 24px;
}
.btn--success {
    color: #fff;
    background-color: #71b02f;
    border-color: #71b02f;
}
.btn--success:hover {
    background-color: #588b22;
    border-color: #588b22;
}
.btn--success:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(113, 176, 47, 0.5);
            box-shadow: 0 0 0 3px rgba(113, 176, 47, 0.5);
}
.btn--line-info {
    color: #96588a;
    background-color: #fff;
    border-color: #e6e6e6;
}
.btn--line-info:hover {
    color: #fff;
    background-color: #96588a;
    border-color: #96588a;
}
.btn--line-info:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(150, 88, 138, 0.5);
            box-shadow: 0 0 0 3px rgba(150, 88, 138, 0.5);
}
/*--------------------------------------------------------------
# Element
--------------------------------------------------------------*/
hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #e9ecef;
}
.bdg {
    background-color: #6e6e6e;
    margin: 0 12px 0 4px;
    display: inline-block;
    padding: 3px 5px;
    font-size: 75%;
    line-height: 1;
    border-radius: 4px;
}
.fixed {
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
}
ul.line-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.none-list {
    padding: 0;
    margin: 0;
}
.none-list li {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
}
.rounded {
    border-radius: 4px;
}
.pd-t-70 {
    padding-top: 70px;
}
.pd-t-60 {
    padding-top: 60px;
}
.pd-t-50 {
    padding-top: 50px;
}
.pd-t-30 {
    padding-top: 30px;
}
.pd-b-70 {
    padding-bottom: 70px;
}
.pd-b-50 {
    padding-bottom: 50px;
}
.pd-b-20 {
    padding-bottom: 20px;
}
.pd-b-33 {
    padding-bottom: 33px;
}
.m-b-24 {
    margin-bottom: 24px;
}
.lg-spc {
    margin-left: 24px;
    margin-right: 24px;
}
.max-w-915 {
    max-width: 915px;
}
.max-w-845 {
    max-width: 845px;
}
.max-w-590 {
    max-width: 590px;
}
.max-w-365 {
    max-width: 365px;
}
@media (max-width: 64em) {
    .pd-b-tb-20 {
        padding-bottom: 20px;
    }
}
@media (max-width: 42em) {
    .m-mb-b-30 {
        margin-bottom: 30px;
    }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
    min-height: 64px;
}
.site-header__container {
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}
.site-header__container,
.site-brand {
    display: flex;
    align-items: center;
}
.site-brand img {
    margin-right: 10px;
}
.nav__link {
    padding: 8px;
    display: inline-flex;
    align-items: center;
}
.nav__link:focus,
.nav__link:hover {
    color: rgba(255, 255, 255, 0.75);
}
@media (max-width: 27.5em) {
    .nav__link {
        padding: 8px 0;
    }
   .nav .btn--md {
        padding: 5px 10px;
    }
}
/*--------------------------------------------------------------
# Alignment
--------------------------------------------------------------*/
.valign-center {
    align-items: center;
}
.align-center {
    margin: 0 auto;
    justify-content: center;
}
.align-right {
    margin-left: auto;
}
/*--------------------------------------------------------------
# Columns
--------------------------------------------------------------*/
.cols {
    display: flex;
    flex-wrap: wrap;
}
.cols--pd-v-24 .col {
    padding-top: 12px;
    padding-bottom: 12px;
}
.col {
    box-sizing: border-box;
    width: 100%;
}
@media (min-width: 42.0625em) {
    .col--40 {
        max-width: 40%;
        flex: 0 0 40%;
    }
    .col--50 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .col--60 {
        max-width: 60%;
        flex: 0 0 60%;
    }
    .cols--pd-h-24 .col {
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media (max-width: 64em) {
    .col--tb-rv {
        flex-direction: column-reverse;
    }
}
@media (max-width: 64em) and (min-width: 42.0625em) {
    .col--tb-80 {
        flex: 0 0 80%;
        flex: 0 0 80%;
    }
}
@media (max-width: 42em) {
    .cols {
        flex-wrap: wrap;
    }
}
/*--------------------------------------------------------------
# logos
--------------------------------------------------------------*/
.logos {
    overflow-x: auto;
}
.logos ul {
    min-width: 800px;
}
.logos li {
    max-width: calc(25% - 48px)
}
/*--------------------------------------------------------------
# card
--------------------------------------------------------------*/
.card {
    border: 1px solid #e9ecef;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    -webkit-transition: background-color .35s ease, border-color .35s ease, -webkit-box-shadow .2s ease;
    transition: background-color .35s ease, border-color .35s ease, -webkit-box-shadow .2s ease;
    -o-transition: background-color .35s ease, border-color .35s ease, box-shadow .2s ease;
    transition: background-color .35s ease, border-color .35s ease, box-shadow .2s ease;
    transition: background-color .35s ease, border-color .35s ease, box-shadow .2s ease, -webkit-box-shadow .2s ease;
}
.col .card {
    height: 100%;
}
.card--md {
    padding: 24px;
}
.card--lg {
    padding: 36px;
}
.card ul,
.card .small {
    opacity: 0.8;
}
.card ul {
    margin-bottom: 28px;
}
.card > span {
    margin-bottom: 22px;
}
.card .btn {
   margin: auto auto 0;
}
.card br {
    content: "";
    display: block;
    height: 5px;
}
a.card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
}
@media (min-width: 42.0625em) {
    .card:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .card:nth-child(n+2) {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: 0;
    }
    .card:only-child {
        border-radius: 4px;
    }
}
@media (max-width: 42em) {
    .card {
        border-radius: 4px;
    }
}
/*--------------------------------------------------------------
# review
--------------------------------------------------------------*/
.review {
    margin-bottom: 48px;
    display: flex;
    align-items: flex-start;
}
.review__avatar {
    flex: 0 0 96px;
}
.review__avatar img {
    width: 72px;
    border-radius: 50%;
    margin-right: 24px;
}
.review__content {
    text-align: left;
}
.review__content a {
    color: #6e6e6e;
}
.review__content p {
    margin-bottom: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.review__content a:before {
    content: "\2014";
    margin-right: 3px;
}
.review__content a:after {
    content: "\21AA";
    opacity: 0;
    margin-left: 3px;
    -webkit-transition: opacity .25s ease;
       -moz-transition: opacity .25s ease;
        -ms-transition: opacity .25s ease;
         -o-transition: opacity .25s ease;
            transition: opacity .25s ease;
}
.review__content a:hover:after {
    opacity: 1;
}
.review-verify {
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-verify span {
    margin-left: 3px;
}
.review-verify img {
    margin: 0 10px;
}
@media (max-width: 42em) {
    .review-verify {
        flex-wrap: wrap;
    }
    .review-verify > a {
        width: 100%;
        text-align: center;
    }
    .review-verify img {
        margin: 10px auto;
    }
}
/*--------------------------------------------------------------
# Carouserl
--------------------------------------------------------------*/
.carousel-cell {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
    transition: opacity .35s ease;
    transition: opacity .35s ease;
    transition: opacity .35s ease;
}
.carousel-cell:not(.is-selected) {
    opacity: .2;
}
.carousel-cell img {
    width: 100%;
}
@media (max-width: 62em) {
    .carousel-cell {
        width: 80%;
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media (max-width: 37.5em) {
    .carousel-cell {
        font-size: 12px;
        line-height: 1;
    }
}
/*--------------------------------------------------------------
# Tabs
--------------------------------------------------------------*/
.tabs {
    justify-content: center;
}

.tab-links {
    padding: 0 12px 0 0;
    margin: 0;
    order: 2;
}
.tab-links li {
    list-style: none;
}
.tab-links a {
    color: inherit;
}
.tab-links p {
    margin-bottom: 0;
}
.tab-links .active .card {
    background-color: #fff;
}
.tab-links li:not(.active) .card {
    border-color: transparent;
}
/*--------------------------------------------------------------
# Fancybox
--------------------------------------------------------------*/
.fancybox-content {
    max-width: 840px;
    border-radius: 4px;
    max-height: 720px;
}
.fancybox-toolbar {
    opacity: 1;
    visibility: visible;
}
.fancybox-iframe {
    border-radius: 4px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer .cols {
    padding-top: 25px;
    padding-bottom: 20px;
}
footer p {
    margin-bottom: 5px;
}
@media (max-width: 62em) {
    footer {
        font-size: 14px;
    }
    footer .small {
        font-size: 14px;
    }
}
@media (max-width: 42em) {
    footer .cols {
        text-align: center;
        flex-direction: column-reverse;
    }
    footer img {
        margin: 0 auto 15px;
    }
}