/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Typography
# General
# Colors
# Form
# Element
# Header
# Alignment
# Columns
# Logos
# Card
# Review
# Carouserl
# Tabs
# Features
# Fancybox
# Footer
# Cookiebanner
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root {
    --primary: #96588a;
    --secondary: #71b02f;
    --secondary-alt: #588b22;
    --background: #f8f9fa;
    --tile: #ffffff;
    --dark: #3c3c3c;
    --darker: #333333;
    --light-text: #adb5bd;
    --badge: #6e6e6e;
    --border: #e9ecef;
    --radius: 4px;
    --bold: 500;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
}

h1 {
    font-weight: 400;
    line-height: 1;
    margin-bottom: 24px;
    font-size: 72px;
    color: var(--darker);
}

.h2,
h2 {
    font-size: 56px;
    line-height: 1.15;
    margin-bottom: 24px;
    font-weight: 400;
    letter-spacing: .02em;
}

h3 {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 20px;
    letter-spacing: .02em;
    font-weight: 500;
}

.title {
    font-size: 40px;
    margin-top: 6px;
}

a {
    text-decoration: none;
    color: var(--primary);
    transition: color .35s ease, opacity .35s ease;
}

body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: var(--dark);
    background-color: var(--background);
    font-family: 'Rubik', sans-serif;
}

h4,
.lg-txt {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 48px;
    font-weight: var(--bold);
}

small {
    font-size: 14px;
    margin-bottom: 24px;
    letter-spacing: 1px;
    display: block;
}

h5 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 12px;
    font-weight: var(--bold);
}

.lead {
    font-size: 20px;
}

p.bold + p {
    font-size: 14px;
}

.small {
    font-size: 13px;
}

#item-price {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.larger,
#item-price span {
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: .02em;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.light-text {
    color: var(--light-text);
}

.tile-text a,
.tile-text {
    color: var(--tile);
}

.bold {
    font-weight: var(--bold);
}

.italic {
    font-style: italic;
}

@media (min-width: 64.0625em) {
    .dk-txt-right {
        text-align: right;
    }
}

@media (max-width: 72em) {
    h1 {
        font-size: 65px;
    }
}

@media (max-width: 64em) {
    .tb-txt-center {
        text-align: center;
    }

    h4,
    .lg-txt {
        margin-bottom: 30px;
    }
}

@media (max-width: 42em) {
    h1 {
        font-size: 55px;
    }

    .h2,
    h2 {
        margin-bottom: 18px;
        font-size: 40px;
    }

    .title {
        font-size: 32px;
    }
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.sr-only {
    height: 1px;
    padding: 0;
    margin: 0;
    width: 1px;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

.col-full {
    max-width: 1140px;
    padding-right: 22px;
    padding-left: 22px;
    margin-right: auto;
    margin-left: auto;
}
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
.bg-dark {
    background-color: var(--dark);
}

.bg-white {
    background-color: var(--tile);
}

.bg-primary {
    background-color: var(--primary);
}
/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/
.btn {
    display: inline-flex;
    font-weight: var(--bold);
    border-radius: var(--radius);
    border: 1px solid;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn--md {
    padding: 5px 16px;
}

.btn--lg {
    padding: 11px 24px;
}

.btn--success {
    color: var(--tile);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn--success:hover {
    background-color: var(--secondary-alt);
    border-color: var(--secondary-alt);
}

.btn--success:focus {
    box-shadow: 0 0 0 3px rgba(113, 176, 47, 0.5);
}

.btn--line-info {
    color: var(--primary);
    background-color: var(--tile);
    border-color: var(--border);
}

.btn--line-info:hover {
    color: var(--tile);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn--line-info:focus {
    box-shadow: 0 0 0 3px rgba(150, 88, 138, 0.5);
}
/*--------------------------------------------------------------
# Element
--------------------------------------------------------------*/
hr {
    margin: 0;
    border: 0;
    border-top: 1px solid var(--border);
}

.bdg {
    background-color: var(--badge);
    margin: 0 12px 0 4px;
    display: inline-block;
    padding: 3px 5px;
    font-size: 75%;
    line-height: 1;
    border-radius: var(--radius);
}

.fixed {
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
}

ul.line-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.none-list {
    padding: 0;
    margin: 0;
}

.none-list li {
    list-style: none;
}

img {
    line-height: 1;
    max-width: 100%;
}

.rounded {
    border-radius: var(--radius);
}

.pd-t-70 {
    padding-top: 70px;
}

.pd-t-60 {
    padding-top: 60px;
}

.pd-t-50 {
    padding-top: 50px;
}

.pd-t-30 {
    padding-top: 30px;
}

.pd-t-20 {
    padding-top: 20px;
}

.pd-b-50 {
    padding-bottom: 50px;
}

.pd-b-20 {
    padding-bottom: 20px;
}

.pd-b-33 {
    padding-bottom: 33px;
}

.m-b-24 {
    margin-bottom: 24px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.lg-spc {
    margin-left: 24px;
    margin-right: 24px;
}

.max-w-915 {
    max-width: 915px;
}

.max-w-845 {
    max-width: 845px;
}

.max-w-590 {
    max-width: 590px;
}

.max-w-365 {
    max-width: 365px;
}

@media (max-width: 64em) {
    .pd-b-tb-20 {
        padding-bottom: 20px;
    }
}

@media (max-width: 42em) {
    .m-mb-b-30 {
        margin-bottom: 30px;
    }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
    min-height: 64px;
}

.site-header__container {
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 10px;
}

.site-header__container,
.site-brand {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: flex-end;
}

.nav__link {
    padding: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__link:focus,
.nav__link:hover {
    opacity: .75;
}

@media (max-width: 34.5em) {
    .hide-on-mobile {
        display: none;
    }
}
/*--------------------------------------------------------------
# Alignment
--------------------------------------------------------------*/
.valign-center {
    align-items: center;
}

.align-center {
    margin: 0 auto;
    justify-content: center;
}
/*--------------------------------------------------------------
# Columns
--------------------------------------------------------------*/
.cols {
    display: flex;
    flex-wrap: wrap;
}

.cols--space-around {
    justify-content: space-around;
}

.cols--pd-v-24 .col {
    padding-top: 12px;
    padding-bottom: 12px;
}

.col {
    box-sizing: border-box;
    flex: 1;
}

.cols--border {
    gap: 12px;
}

.cols--border > hr {
    align-self: center;
    background-color: var(--border);
}

@media (min-width: 42.0625em) {
    .col--40 {
        max-width: 40%;
        flex: 0 0 40%;
    }

    .col--50 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .col--60 {
        max-width: 60%;
        flex: 0 0 60%;
    }

    .cols--pd-h-24 .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .cols--border > hr {
        height: 100px;
        width: 1px;
    }
}

@media (max-width: 72em) and (min-width: 42.0625em) {
    .col--lp-50 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

@media (max-width: 64em) and (min-width: 42.0625em) {
    .col--tb-80 {
        max-width: 80%;
        flex: 0 0 80%;
    }
}

@media (max-width: 42em) {
    .cols {
        flex-direction: column;
    }

    .cols--border {
        flex-direction: column;
        align-items: center;
    }

    .cols--border > hr {
        height: 1px;
        width: 100px;
    }
}

@media (max-width: 64em) {
    .cols--tb-rv {
        flex-direction: column-reverse;
    }
}
/*--------------------------------------------------------------
# Logos
--------------------------------------------------------------*/
.logos {
    overflow-x: auto;
}

.logos ul {
    min-width: 800px;
}

.logos li {
    max-width: calc(25% - 48px);
}
/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/
.card {
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: background-color .35s ease, border-color .35s ease, box-shadow .2s ease;
}

.col .card {
    height: 100%;
}

.card--md {
    padding: 24px;
}

.card--lg {
    padding: 36px;
}

.card ul,
.card .small {
    opacity: 0.8;
}

.card ul {
    margin-bottom: 28px;
}

.card > span {
    margin-bottom: 22px;
}

.card .btn {
    margin: auto auto 0;
}

.card br {
    content: "";
    display: block;
    height: 5px;
}

a.card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
}

@media (min-width: 42.0625em) {
    .card:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .card:nth-child(n+2) {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: 0;
    }

    .card:only-child {
        border-radius: var(--radius);
    }
}

@media (max-width: 42em) {
    .card {
        border-radius: var(--radius);
    }
}
/*--------------------------------------------------------------
# Review
--------------------------------------------------------------*/
.review {
    margin-bottom: 48px;
    display: flex;
    align-items: flex-start;
}

.review__avatar {
    flex: 0 0 96px;
}

.review__avatar img {
    width: 72px;
    border-radius: 50%;
    margin-right: 24px;
}

.review__content {
    text-align: left;
}

.review__content a {
    color: var(--badge);
}

.review__content p {
    margin-bottom: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
.carousel-cell {
    padding-left: 12px;
    padding-right: 12px;
    width: 65%;
    transition: opacity .35s ease;
    margin: 0;
}

.carousel-cell:not(.is-selected) {
    opacity: .2;
}

.carousel-cell img {
    width: 100%;
}

@media (max-width: 62em) {
    .carousel-cell {
        width: 80%;
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media (max-width: 37.5em) {
    .carousel-cell {
        width: 95%;
        font-size: 12px;
        line-height: 1;
    }
}
/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
.arrow-hover:before {
    content: "\2014";
    margin-right: 3px;
}

.arrow-hover:after {
    content: "\21AA";
    opacity: 0;
    margin-left: 3px;
    transition: opacity .25s ease;
}

.arrow-hover:hover:after {
    opacity: 1;
}
/*--------------------------------------------------------------
# Tabs
--------------------------------------------------------------*/
.tabs {
    justify-content: center;
    padding-bottom: 70px;
}

.tab-links {
    padding: 0 12px 0 0;
    margin: 0;
    order: 2;
}

.tab-links li {
    list-style: none;
}

.tab-links a {
    color: inherit;
}

.tab-links p {
    margin-bottom: 0;
}

.tab-links .active .card {
    background-color: var(--tile);
}

.tab-links li:not(.active) .card {
    border-color: transparent;
}

@media (max-width: 64em) and (min-width: 42.0625em) {
    .tab-links li:not(.active) p {
        display: none;
    }
}

@media (max-width: 42em) {
    .tab-content img {
        margin: 0 auto 30px;
    }
}
/*--------------------------------------------------------------
# Features list
--------------------------------------------------------------*/
.features {
    display: grid;
    gap: 20px 30px;
}
.features__list {
    border-radius: var(--radius);
    border: 1px solid var(--border);
}
.features__list li {
    display: grid;
    gap: 10px;
    padding: 24px;
    grid-template-columns: 20px 1fr;
}
.features__list li:nth-child(n+2) {
    border-top: 1px solid var(--border);
}
.features__list p {
    grid-column: 2;
    margin: 0;
}
.features__list img {
    grid-row: 1/3;
    margin-top: 2px;
}
@media (min-width: 42.0625em) {
    .features {
        grid-template-columns: repeat(2, 1fr);
    }
    .features > * {
        max-width: 460px;
        margin: 0 auto;
    }
}
/*--------------------------------------------------------------
# Fancybox
--------------------------------------------------------------*/
.fancybox-toolbar {
    opacity: 1;
    visibility: visible;
}

.fancybox-iframe {
    border-radius: var(--radius);
}

@media (min-width: 64.0625em) {
    .fancybox-content {
        max-height: 720px;
        max-width: 840px;
        border-radius: var(--radius);
    }
}

@media (max-width: 64em) {
    .fancybox-slide {
        padding: 0;
    }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer .cols {
    padding-top: 25px;
    gap: 12px;
}

footer p {
    margin-bottom: 5px;
}

@media (max-width: 62em) {
    footer .small,
    footer {
        font-size: 14px;
    }
}

@media (max-width: 42em) {
    footer .cols {
        text-align: center;
        flex-direction: column-reverse;
    }
}
/*--------------------------------------------------------------
# Cookiebanner
--------------------------------------------------------------*/
.cookiebanner {
    display: flex;
    width: min(1140px, 88vw);
    margin: 0 auto 24px;
    gap: 12px;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: var(--radius);
}

.cookiebanner > span {
    flex: 1;
}

@media (min-width: 42.0625em) {
    .cookiebanner > span {
        margin: 7px auto 7px 0;
    }

    .cookiebanner:before {
        content: '';
        background-image: url(../img/cookie.svg);
        background-repeat: no-repeat;
        width: 34px;
        display: block;
        height: 34px;
        background-size: 34px;
    }
}

@media (max-width: 42em) {
    .cookiebanner > span {
        margin: 7px 12px;
    }
}
/*--------------------------------------------------------------
# Topbar
--------------------------------------------------------------*/
.topbar__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.topbar__content {
    margin-right: 10px;
}

.topbar img {
    animation: shake .5s infinite ease-in-out;
}

@keyframes shake {
    0% {
        transform: rotate(5deg) translateY(-2px);
    }
    35% {
        transform: rotate(0deg);
    }
    63% {
        transform: rotate(-5deg) translateY(-2px);
    }
    100% {
        transform: rotate(0deg);
    }
}
